@use '../../scss/variables' as *;

.open-role {

    &__paragraph {
        margin-top: .75rem;

        &__bold {
            font-weight: $font-medium;
            position: relative;
            display: inline-block;
            margin-right: .5rem;
            z-index: 1;

            &::after {
                content: ' ';
                width: 105%;
                height: .8rem;
                background-color: #fde68a;
                position: absolute;
                bottom: 0;
                left: -2px;
                z-index: -1;
            }
        }
    }
}