$font-family-title: "Inter", sans-serif;
$font-family-body: "Space Grotesk", sans-serif;

$font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
$font-size-h3: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
$font-size-h2: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
$font-size-h1: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);